@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background: #dcdcdc;

    }
    span{
        font-weight: 700;
        font-size: 2rem;
        color: red;
    }
    p {
        font-weight: 700;
        font-size: 2rem;
    }
    a span:hover {
        color: #8c0707;
        transition: .2s;
    }
</style>

<div class="text-center">
    <br />
    <h1 class="display-4">Bem vindo!</h1>
    <br />
    <h2 class="display-4">Pronto para fazer a diferença?</h2>
    <br />
    <p>Laboratório Sodré, buscando sempre inovação e qualidade a <a href="https://laboratoriosodre.com.br/" target="_blank"><span>mais de 38 anos de Tradição</span></a></p>
</div>
