@{
    ViewData["Title"] = "Privacy Policy";
}
<style>
    body {
        background: #dcdcdc;
    }
</style>

<h3>Laboratótios Sodré</h3>

<p>
    Com 38 anos de tradição, a marca Laboratório Sodré tem o compromisso de oferecer suporte para diagnóstico complementar, 
    realizando exames de análises clínicas com qualidade e segurança para todos os seus clientes: médicos, pacientes e organizações empresariais.
</p>
<p>
    As empresas da marca Laboratório Sodré contam com equipes de profissionais especializados, equipamentos de última 
    geração e tecnologia da informação, onde é possível fornecer altos níveis de serviço técnico, ético e moral aos seus clientes, de acordo com os padrões estabelecidos pela Sociedade Brasileira de Análises Clínicas.
</p>
<p>
    Atendendo hospitais particulares, Santas Casas, empresas de RH, empresas privadas do setor alimentício e sucroalcooleiro, além de convênios e médicos, 
    as empresas do grupo investem em tecnologia e inovação para fornecer eficiência e eficácia em suas análises. Para isso, o grupo disponibiliza à seus clientes laboratórios que contam com sistemas de informação integrados, 
    equipamentos de ponta e consulta de exames por e-mail ou por acesso individualizado pela internet, disponíveis para clientes e médicos.
</p>
<p>
    Visando manter o excelente padrão de atendimento, alguns dos laboratórios Sodré possuem plantão de coleta 24h para hospitais, o que possibilita atender a demanda de exames de emergências a qualquer hora do dia.
</p>
<p>
    Para viabilizar o atendimento aos seus pacientes, o grupo mantém além de suas unidades próprias: postos de coletas em clínicas, centro de atendimentos médicos, hospitais, postos de saúde, empresas particulares e atendimento domiciliar.
</p>
<p>
    Os laboratórios que carregam a marca Laboratório Sodré disponibilizam uma vasta gama de exames na área de análises clínicas, bem como outras divisões que atuam nos campos de exames toxicológicos, medicina ocupacional, testes de paternidade e sexagem fetal.
</p>
<p>
    Em 2011, a marca Laboratório Sodré recebeu um novo formato se posicionando como uma marca moderna e tecnológica, que prioriza a inovação contínua para melhor 
    atender seus clientes e proporcionar o crescimento de seu capital humano. Esse conceito está enraizado na cultura organizacional da empresa e por isso, a marca Laboratório Sodré tem se 
    consolidado no mercado que atua como uma empresa de excelência, sempre priorizando sua qualidade técnica e os princípios éticos.
</p>
<p>
    Assim, seu maior objetivo é levar resultados fiéis aos seus clientes e médicos, com agilidade, segurança e bom atendimento, transformando-se em uma referência de qualidade no meio laboratorial.
</p>